<div class="container" >
  <div class="row">

    <mat-card *ngFor="let highlight of highlights">
      <mat-card-header>
        <mat-card-title>{{highlight.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <img mat-card-image [src]="this.BLOB_ACCOUNT + highlight.filepath" alt="Highlight of {{highlight.title}}" *ngIf="highlight.type=='image'" width="800px">
        <video [src]="this.BLOB_ACCOUNT + highlight.filepath" *ngIf="highlight.type=='video'" width="800px" controls></video>
        <mat-list role="list">
          <mat-list-item role="listItem"><b>Description</b>: {{highlight.description}}</mat-list-item>
          <mat-list-item role="listItem"><b>Sport</b>: {{highlight.sport}}</mat-list-item>
          <mat-list-item role="listItem"><b>Event</b>: {{highlight.event}}</mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>

  </div>

  <button mat-raised-button (click)="openAddHighlightDialog()">Upload Highlight</button>

</div>
